name: build openwrt packages

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: build(${{ matrix.target.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - name: 24.10.4-x86_64
            sdk_url: https://downloads.openwrt.org/releases/24.10.4/targets/x86/64/openwrt-sdk-24.10.4-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst
          - name: 24.10.4-mt7623
            sdk_url: https://downloads.openwrt.org/releases/24.10.4/targets/mediatek/mt7623/openwrt-sdk-24.10.4-mediatek-mt7623_gcc-13.3.0_musl_eabi.Linux-x86_64.tar.zst

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Prepare dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd

          sudo mkdir -p /mnt/workdir
          sudo chown $USER:$GROUPS /mnt/workdir
          echo "WORKING_DIR=/mnt/workdir" >> ${GITHUB_ENV}
          echo "TIMESTAMP=$(date +%s)"    >> ${GITHUB_ENV}

      - name: Restore cached build
        id: cache-restore
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.WORKING_DIR }}/openwrt-sdk
          key: openwrt-${{ matrix.target.name }}-${{ env.TIMESTAMP }}
          restore-keys: |
            openwrt-${{ matrix.target.name }}

      - name: Check cache
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          if [ ! -d openwrt-sdk ]; then
            wget "${{ matrix.target.sdk_url }}"
            tar --use-compress-program=zstd -xvf openwrt-sdk-*.tar.zst
            rm -rf *.tar.zst
            mv openwrt-sdk-* openwrt-sdk

            echo "+++++ create fresh build flag +++++"
            touch .fresh-build
          fi

      - name: Configure feeds
        working-directory: ${{ env.WORKING_DIR }}/openwrt-sdk
        run: |
          cp feeds.conf.default feeds.conf
          cat ${{ github.workspace }}/openwrt/config/feeds.conf >> feeds.conf
          FEEDS_EXTRA=$(awk '{print $2}' ${{ github.workspace }}/openwrt/config/feeds.conf | paste -sd ' ' | xargs)
          echo "FEEDS_EXTRA=${FEEDS_EXTRA}" >> ${GITHUB_ENV}

          if [ -d feeds/extra ]; then
            pushd feeds/extra
            git fetch origin
            git reset --hard origin/master
            popd
          fi
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          echo

          chmod +x ${{ github.workspace }}/openwrt/scripts/patch.sh
          ${{ github.workspace }}/openwrt/scripts/patch.sh "${PWD}"
          make defconfig

      - name: Build our feeds
        working-directory: ${{ env.WORKING_DIR }}/openwrt-sdk
        run: |
          for feed in ${FEEDS_EXTRA}; do
            for dir in feeds/${feed}/*; do
              if [ -d "${dir}" ] && [ -f "${dir}/Makefile" ]; then
                pkg=$(basename "${dir}")
                echo "===== Building ${pkg} from feed ${feed} ====="
                make -j$(nproc) package/${pkg}/compile || make package/${pkg}/compile V=s || echo "xxxxx Failed: ${pkg} xxxxx"
              fi
            done
          done

      - name: Post action for feeds building
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          mkdir -p ipks_feed
          mkdir -p ipks_built

          chmod +x ${{ github.workspace }}/openwrt/scripts/post.sh
          ${{ github.workspace }}/openwrt/scripts/post.sh "${PWD}/openwrt-sdk"

          FEED_REGEXP=$(echo "${FEEDS_EXTRA}" | sed 's/ /\|/g')
          for ipk in $(find openwrt-sdk/bin -name *.ipk); do
            src=$(tar -xOf ${ipk} ./control.tar.gz | tar -xzOf - ./control | grep '^Source:' | awk -F: '{print $2}' | xargs)
            feed=$(echo "${src}" | cut -d'/' -f2)
            if echo "${feed}" | grep -Eq "^(${FEED_REGEXP})$"; then
              echo "+++ copy ${ipk} in ${feed}"
              mkdir -p "ipks_feed/${feed}"
              cp "${ipk}" "ipks_feed/${feed}"
              cp "${ipk}" ipks_built
            fi
          done

      - name: Check build
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          find openwrt-sdk/bin -name *.ipk
          rm -rf openwrt-sdk/dl/*

      - name: Update build cache
        uses: actions/cache/save@v4
        with:
          key: ${{ steps.cache-restore.outputs.cache-primary-key }}
          path: ${{ env.WORKING_DIR }}/openwrt-sdk

      - name: Make private opkg repository
        working-directory: ${{ env.WORKING_DIR }}
        run: |
          docker run -v $PWD/ipks_built:/working alpine sh -c "
            echo https://dl-cdn.alpinelinux.org/alpine/edge/testing >> /etc/apk/repositories
            apk add opkg-utils
            opkg-make-index /working > /working/Packages
            gzip -k /working/Packages
          "

          if [[ -n "${USIGN_PRIVATE}" && -n "${USIGN_PUBLIC}" ]]; then
            echo ${USIGN_PUBLIC}  | base64 -d > public.key
            echo ${USIGN_PRIVATE} | base64 -d > private.key
            FINGER_PRINT=$(openwrt-sdk/staging_dir/host/bin/usign -F -p public.key)
            cp public.key ipks_built/${FINGER_PRINT}
            openwrt-sdk/staging_dir/host/bin/usign -S -m ipks_built/Packages -s private.key
            rm -rf private.key
          fi
        env:
          USIGN_PUBLIC: ${{ secrets.USIGN_PUBLIC }}
          USIGN_PRIVATE: ${{ secrets.USIGN_PRIVATE }}

      - name: Upload build cache
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target.name }}
          path: |
            ${{ env.WORKING_DIR }}/ipks_feed

      - name: Clean old release and tags
        run: |
          if gh release view openwrt-${{ matrix.target.name }} >/dev/null 2>&1; then
            gh release delete openwrt-${{ matrix.target.name }} --cleanup-tag --yes
          fi
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Update openwrt release
        uses: ncipollo/release-action@v1
        with:
          tag: openwrt-${{ matrix.target.name }}
          body: build openwrt packages
          allowUpdates: true
          removeArtifacts: true
          artifacts: ${{ env.WORKING_DIR}}/ipks_built/*
          token: ${{ github.token }}
